## Emacs
*~
.\#*
.#*
\#*\#
#*
*.bak

## General
README.html
*.Rhistory
*.Rproj.user
*.RData
*.Rout

## Rnw/Rmd output files
**/*_cache/*
**/*_files/*
**/figure/*
*.nav
*.snm
*.tex
*.vrb

## R
.Rproj.user
.Rhistory
.RData
.Ruserdata
Rplots.pdf
cache/
auto/
*.synctex.gz
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.bak

config/*.bibtex
config_ioslides/*.bibtex

slides/*.html
tutorials/*.html

slides/*.aux
slides/*.bcf
slides/*.log
slides/*.nav
slides/*.out
slides/*.pdf
slides/*.run.xml
slides/*.snm
slides/*.tex
slides/*.toc
slides/*.vrb
slides/figure/*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Intermediate documents:
*.dvi
*-converted-to.*

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Project specific:
README.html
apostila/README.html
index.html
_site/
css/
js/
tempdir/
config/logo/
config/bib/
apostila/_book/
apostila/_bookdown_files/
apostila/emr.Rmd

bank-*
bank.*

!slides/config_ioslides/MathJax.html
